<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partes/cabecera.ejs') %>
</head>
<body>
    <%- include('./partes/menu.ejs') %>
    <main class="contenido">
      <section class="izquierda">
        <h2 class="titulo-seccion">Nuestros Clientes</h2>
        <h4 class="subtitulo">Un nuevo estilo de servicios para vos.</h4>
        <p>Clarín, La Nación, Infobae...</p>
        <img src="/src/img/image.png" class="imagen-naranja">
      </section>
      <%- include('./partes/aside.ejs') %>
    </main>
    <%- include('./partes/pie.ejs') %>
</body>
</html>
