<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partes/cabecera.ejs') %>
</head>
<body>
    <%- include('./partes/menu.ejs') %>
    <main class="contenido">
        <section class="izquierda">
            <h2 class="titulo-seccion">Nuestra Empresa</h2>
                <p style="text-align: justify;">Se puede entender por empresa una organización o institución dedicada a actividades o persecución de fines económicos o comerciales.
                Una definición de uso común en círculos comerciales es: “Una empresa es un sistema
                que interacciona con su entorno materializando una idea, de forma planificada, dando
                satisfacción a unas demandas y deseos de clientes, a través de una actividad
                económica. Requiere de una razón de ser, una misión, una estrategia, unos objetivos,
                unas tácticas y unas políticas de actuación. Se necesita de una visión previa y de una
                formulación y desarrollo estratégico de la empresa. Se debe partir de una buena
                definición de la misión. La planificación posterior está condicionada por dicha definición
        </p>
            <img src="/src/img/image.png" class="imagen-naranja">
        </section>
    <%- include('./partes/aside.ejs') %>
    </main>
    <%- include('./partes/pie.ejs') %>
</body>
</html>