<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partes/cabecera.ejs') %>
</head>
<body>
    <%- include('./partes/menu.ejs') %>
    <main class="contenido">
        <section class="izquierda">
            <h2 class="titulo-seccion">Nosotros</h2>
                <p style="text-align: justify;">Como firma líder en asesoramiento y desarrollo en tecnologías de información tenemos
                un mejor camino a seguir cuando se trata de ayudarlo a unificar y simplificar la
                administración de los datos de su empresa. Nuestro propósito no es sólo la visión u
                opinión puntual, sino que incluye el análisis para la prevención y disminución de
                contingencias, el diseño de estrategias y soluciones integrales. La firma está
                constituida por un sólido equipo de profesionales de primer nivel, abocados a la
                provisión de servicios personalizados y altamente especializados en el ámbito de las
                soluciones a necesidades críticas. Nuestro gran desafío es trabajar generando valor en
                las organizaciones a través del mejoramiento de la calidad de las relaciones entre su
                negocio y el manejo de la información, maximizando así los niveles de rendimiento.
                Creemos vital lograr el más eficiente aprovechamiento de los recursos de la empresa
                buscando así ventajas competitivas, perdurables y que permitan el éxito económico
                sostenible.
                    <img src="/src/img/image.png" class="imagen-naranja">
                </p>
        </section>
    <%- include('./partes/aside.ejs') %>
        </main>
    <%- include('./partes/pie.ejs') %>
</body>
</html> 