<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partes/cabecera.ejs') %>
</head>
<body>
        <%- include('./partes/menu.ejs') %>
    <main class="contenido">
        <section class="izquierda">
            <h2 class="titulo-seccion">Preguntas frecuentes</h2>
        <p style="text-align: justify;">1- ¿Cuáles son los pasos para registar un dominio?
                2- ¿Debo contar con una página Web y con el servicio de “hosting” para registrar y
                delegar un Dominio?
                3- ¿NIC Argentina presta servicios de hosting, correo electrónico u otros?
                Respuestas
                1- Primero verifique mediante la opción &quot;Consultar Dominios&quot; si el nombre deseado no
                se encuentra registrado, y luego, ingrese a la opción &quot;Registrar Dominio&quot; y siga el
                proceso guiado para el registro y delegación de dominios, éste le solicitará los datos de
                la Entidad Registrante, de la Persona Responsable y los DNS correspondientes a los
                servidores que resolverán el nombre de dominio. Primero verifique mediante la opción
                &quot;Consultar Dominios&quot; si el nombre deseado no se encuentra registrado, y luego,
                ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso guiado para el registro y
                delegación de dominioPrimero verifique mediante la opción &quot;Consultar Dominios&quot; si el
                nombre deseado no se encuentra registrado, y luego, ingrese a la opción &quot;Registrar
                Dominio&quot; y siga el proceso guiado para el registro y delegación de dominios, éste le
                solicitará los datos de la Entidad Registrante, de la Persona Responsable y los DNS
                correspondientes a los servidores que resolverán el nombre de dominio.Primero
                verifique mediante la opción &quot;Consultar Dominios&quot; si el nombre deseado no se
                encuentra registrado, y luego, ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso
                guiado para el registro y delegación de dominios, éste le solicitará los datos de la
                Entidad Registrante, de la Persona Responsable y los DNS correspondientes a los
                servidores que resolverán el nombre de dominio.s, éste le solicitará los datos de la
                Entidad Registrante, de la Persona Responsable y los DNS correspondientes a los
                servidores que resolverán el nombre de dominio. Primero verifique mediante la opción
                &quot;Consultar Dominios&quot; si el nombre deseado no se encuentra registrado, y luego,
                ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso guiado para el registro y
                delegación de dominios, éste le solicitará los datos de la Entidad Registrante, de la

                Persona Responsable y los DNS correspondientes a los servidores que resolverán el
                nombre de dominio.
                2- No, para registrar y delegar un dominio sólo necesita contar con el servicio de
                servidores de nombres de dominio, indispensable para que el nombre pueda ser
                resuelto en Internet y no necesariamente deberá contar con una página web, de hecho
                podría darse el caso de que deseara usar el dominio sólo para utilizar el servicio de
                correo electrónico u otros. Si sólo desea reservar el nombre de un dominio y delegarlo
                más adelante, entonces no precisa contar con el servicio de servidores de nombres de
                dominio Primero verifique mediante la opción &quot;Consultar Dominios&quot; si el nombre
                deseado no se encuentra registrado, y luego, ingrese a la opción &quot;Registrar Dominio&quot; y
                siga el proceso guiado para el registro y delegación de dominios, éste le solicitará los
                datos de la Entidad RegiPrimero verifique mediante la opción &quot;Consultar Dominios&quot; si el
                nombre deseado no se encuentra registrado, y luego, ingrese a la opción &quot;Registrar
                Dominio&quot; y siga el proceso guiado para el registro y delegación de dominios, éste le
                solicitará los datos de la Entidad Registrante, de la Persona Responsable y los DNS
                correspondientes a los servidores que resolverán el nombre de dominio.strante, de la
                Persona Responsable y los DNS correspondientes a los servidores que resolverán el
                nombre de dominio. Primero verifique mediante la opción &quot;Consultar Dominios&quot; si el
                nombre deseado no se encuentra registrado, y luego, ingrese a la opción &quot;Registrar
                Dominio&quot; y siga el proceso guiado para el registro y delegación de dominios, éste le
                solicitará los datos de la Entidad Registrante, de la Persona Responsable y los DNS
                correspondientes a los servidores que resolverán el nombre de dominio.
                3- No, NIC Argentina sólo presta el servicio de administración de dominios bajo el
                dominio de Nivel Superior Argentina (.ar), NIC Argentina no es un Proveedor de
                Servicios de Internet o &quot;Internet Service Provider (ISP)&quot;. Primero verifique mediante la
                opción &quot;Consultar Dominios&quot; si el nombre deseado no se encuentra registrado, y luego,
                ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso guiado para el registro y
                delegación de dominios, éste le solicitará los datos de la Entidad Registrante, de la
                Persona Responsable y los DNS correspondientes a los servidores que resolverán el
                nombre de dominio. Primero verifique mediante la opción &quot;Consultar Dominios&quot; si el
                nombre deseado no se encuentra registrado, y luego, ingrese a la opción &quot;Registrar
                Dominio&quot; y siga el proceso guiado para el regisPrimero verifique mediante la opción
                &quot;Consultar Dominios&quot; si el nombre deseado no se encuentra registrado, y luego,
                ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso guiado para el registro y
                delegación de dominios, éste le solicitará los datos de la Entidad Registrante, de la
                Persona Responsable y los DNS correspondientes a los servidores que resolverán el
                nombre de dominio.tro y delegación de dominios, éste le solicitará los datos de la
                Entidad Registrante, de la Persona Responsable y los DNS correspondientes a los
                servidores que resolverán el nombre de doPrimero verifique mediante la opción
                &quot;Consultar Dominios&quot; si el nombre deseado no se encuentra registrado, y luego,
                ingrese a la opción &quot;Registrar Dominio&quot; y siga el proceso guiado para el registro y
                delegación de dominios, éste le solicitará los datos de la Entidad Registrante, de la
                Persona Responsable y los DNS correspondientes a los servidores que resolverán el
                nombre de dominio.minio.</p>
            <img src="/src/img/image.png" class="imagen-naranja">
        </section>
    <%- include('./partes/aside.ejs') %>
    </main>
    <%- include('./partes/pie.ejs') %>
</body>
</html>