<aside class="derecha">
    <h3 class="titulo-noticias">NOTICIAS DESTACADAS</h3>
    <p>Lorem Ipsum es simplemente dummy text of the printing and typesetting industry...</p>
    <p>Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500...</p>
    <p>Un impresor desconocido tomó una galera de tipos y los mezcló para hacer un libro de muestras tipográficas...</p>
</aside>
