<header class="encabezado">
  <h1><span class="natural">Natural</span><span class="life">Life</span></h1>
</header>
<div class="barra-verde">
  <nav class="menu-verde">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/empresa">EMPRESA</a></li>
      <li><a href="/servicio">SERVICIOS</a></li>
      <li><a href="/clientes">CLIENTES</a></li>
      <li><a href="/contacto">CONTACTO</a></li>
      <li><a href="/preguntas">PREGUNTAS</a></li>
    </ul>
  </nav>
</div>
